{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body>

		{% for movie in movies %}
		<div class="max-w-sm rounded overflow-hidden shadow-lg mx-auto my-8">
			<img class="w-full" src="{{movie.image}}" alt="{{movie.title}}">
			<div class="px-6 py-4">
			  <div class="font-bold text-xl mb-2">{{movie.title}}</div>
			  <p class="text-gray-600 text-base">
					{% for para in movie.info %}
					{{ para }}
					{% endfor %}
			  </p>
			</div>
		</div>
				{% endfor %}

	</body>
</html>
